
* {position: relative;}
html {
  font-family: cutive mono, monospace;
  text-align: center;
  background: #CADBEC;
}
.soporte-nav span {display: inline-block;line-height: 1.5rem;vertical-align: middle; font-size: 1.5rem; margin-right: 1rem;border: 0 none;}
span:after{
  display: inline-block;
  content:'';
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem .5rem;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px;
  vertical-align: middle;
  line-height: 1.5rem;
}
[data-value='positivo']:after {
  background: #77C820;
  color: #77C820;
  
}
[data-value='negativo']:after{
  background: #DB0000;
  color: #DB0000;
}

[data-value='indeterminado']:after{
  background: #F9A119;
  color: #F9A119;
}
.soporte-nav {
  width: 70%;
  text-align: center;
  margin: 1rem auto;
  table-layout: fixed;
}
.soporte-nav * {border: 1px solid #4B6C8B;}
.soporte-nav img {width: 90%; border: 0 none;}

td:after {
  position: absolute;
  right: 1%;
  bottom: 0rem;
}
caption, th {background: #3D5B77; color: #089FD8;}
th {font-size: 1rem; padding: .5rem 0;}
td {background: #fff;}




 